 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <img src="/assets/img/html5-original-wordmark.svg" width="60" />
      <img src="/assets/img/css3-original-wordmark.svg" width="60" />
      <img src="/assets/img/bootstrap-original.svg" width="60" />
      <i class="devicon-sass-original colored"></i>
      <img src="/assets/img/canva-original.svg" width="60" />
      <p>HTML5, CSS3, Bootstrap, SASS, Canva</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <img src="/assets/img/javascript-original.svg" width="60" />
      <img src="/assets/img/jquery-original-wordmark.svg" width="60" />
      <img src="/assets/img/php-original.svg" width="60" />
      <img src="/assets/img/python-original-wordmark.svg" width="60" />
      <img src="/assets/img/bash-original.svg" width="60" />
      <img src="/assets/img/ruby-original-wordmark.svg" width="60" />
      <img src="/assets/img/go-original.svg" width="60" />
      <p>JavaScript, jQuery, PHP, Python, Bash, Ruby, Go</p>
    </div>
    <div class="tech">
      <h2>Tools & Technologies</h2>
      <img src="/assets/img/amazonwebservices-original-wordmark.svg" width="60" />
      <img src="/assets/img/digitalocean-original-wordmark.svg" width="60" />
      <img src="/assets/img/nginx-original.svg" width="60" />
      <img src="/assets/img/apache-original-wordmark.svg" width="60" />
      <img src="/assets/img/communityIcon_w8g2xjs09cw81.png" width="60" />
      <img src="/assets/img/debian-original-wordmark.svg" width="60" />
      <img src="/assets/img/ubuntu-plain-wordmark.svg" width="60" />
      <img src="/assets/img/centos-original.svg" width="60" />
      <img src="/assets/img/Manjaro-logo.svg.png" width="60" />
      <img src="/assets/img/fedora-original.svg" width="60" />
      <img src="/assets/img/git-original.svg" width="60" />
      <img src="/assets/img/mysql-original.svg" width="60" />
      <img src="/assets/img/mongodb-original-wordmark.svg" width="60" />
      <img src="/assets/img/firebase-plain-wordmark.svg" width="60" />
      <img src="/assets/img/owasp_logo_flat2_icon.png" width="60" />
      <img src="/assets/img/burp_suite_macos_bigsur_icon_190319.png" width="60" />
      <img src="/assets/img/metasploit.png" width="60" />
      <img src="/assets/img/logo.png" width="60" />
      <img src="/assets/img/zoomeye.webp" width="60" />
      <img src="/assets/img/urlscan.svg" width="60" />
      <img src="/assets/img/Tor-logo-2011-flat.svg.png" width="60" />
      <p>AWS, DigitalOcean, NGINX, Apache, Gnu/Linux, Debian, CentOS, Manjaro, Fedora, Git, MySQL, MongoDB, Firebase, OWASP, Burp Suite, Metasploit, Shodan, ZoomEye, UrlScan, Tor</p>
    </div>
    <div class="tech">
      <h2>Entry Level - Tools & Technologies</h2>
      <img src="/assets/img/fortinet-logo-1.png" width="60" />
      <img src="/assets/img/MikroTik_logo.svg.png" width="60" />
      <img src="/assets/img/Cisco_logo.svg.png" width="60" />
      <img src="/assets/img/grafana-original.svg" width="60" />
      <img src="/assets/img/tailwindcss-plain.svg" width="60" />
      <img src="/assets/img/vuejs-original.svg" width="60" />
      <img src="/assets/img/swift-original.svg" width="60" />
      <img src="/assets/img/dart-original.svg" width="60" />
      <img src="/assets/img/flutter-original.svg" width="60" />
      <img src="/assets/img/django-plain.svg" width="60" />
      <img src="/assets/img/java-original.svg" width="60" />
      <img src="/assets/img/spring-original.svg" width="60" />
      <img src="/assets/img/C_Programming_Language.svg.png" width="60" />
      <img src="/assets/img/wordpress-plain.svg" width="60" />
      <img src="/assets/img/cPanel_Logo.png" width="60" />
      <img src="/assets/img/elvis_plesky.png" width="60" />
      <p>Fortinet, Mikrotik, Cisco, Grafana, Tailwind CSS, Vue.js, Swift, Dart, Flutter, Django, Java, Spring, C, WordPress, cPanel, Plesk</p>
    </div>
</div>
